@use "../../../style.scss" as devices;
@import "../../../style.scss";

.category-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.responsive {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  // The normal background color is set to yellow

  @include devices(tablet) {
  }

  @include devices(mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
