@use "../../../style.scss" as devices;
@import "../../../style.scss";

.category-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.responsive {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;

  @include devices(tabletWide) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }

  @include devices(desktop) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
  }

  @include devices(tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }

  @include devices(mobile) {
    display: flex;
    flex-direction: column;
  }
}
