@use "../../../style.scss" as devices;
@import "../../../style.scss";



.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  @include devices(tablet) {
  }

  @include devices(mobile) {
    min-width: 0;
  }

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px 0;
  }

  .options {
    @include devices(desktop) {
      width: 30%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .option {
      padding: 10px 15px;
      min-width: 57px;
      width: 100px;
      margin-right: 20px;

      @include devices(tablet) {
      }

      @include devices(mobile) {
        padding: 0;
        min-width: 57px;
        width: 100px;
        margin-right: 20px;
      }
    }

    .option:last-child {
      width: 155px;
    }
  }
}

.header-right-side {
  display: flex;
  align-items: center;

  @include devices(tablet) {
  }

  @include devices(mobile) {
    justify-content: end;
  }
}
