.paswordForm {
  min-width: 500px;
  width: 30vw;
  margin: auto;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }
}

.sign-in:first-of-type {
  margin-right: 50px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}
